@media screen and (max-width :509px) and (min-width: 0px)
{
  .project-photo {
    max-width: 100%;
    height: auto;
  }
  .final
  {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item {
    margin-top: 5px;
  }
}
@media screen and (max-width: 400px) {
  .machine {
    height: 340px;
  }

}
@media screen and (min-width: 510px)  {

  .header_title h1
  {
    font-weight: 300;
    font-size: 3em;

  }
  .header_title h3
  {
    float: right;
    font-weight: 500;
    margin-top: 4px;
  }

}
