@media screen and (max-width :509px) and (min-width: 0px)
{
  .project-photo {
    max-width: 100%;
    height: auto;
  }
  .final
  {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item {
    margin-top: 5px;
  }
}
