
body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  background-color: #F5F5F5;
}

main {
  margin-left: auto;
  margin-right: 2px;;
}
header
{
  box-sizing: border-box;
}

.header
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  border-bottom: solid;
  border-color: #7d97ad;
}

.header_logo
{
  height:80px;
  width:80px;
}

.header_title{
  float: right;
  margin-top: 2px;
  line-height: 6px;
  color: #2d3c49;
  }

.header_title h1
{
  font-weight: 340;
  font-size: 2.8em;

}
.header_title h3
{
  float: right;
  font-weight: 500;
  margin-top: 4px;
}
.tech_logo
{
  margin-right:auto;
  margin-left:auto;
}

.machine
{
  box-sizing: border-box;
  margin-top: 5px;
  background-image: url(../img/main-img.jpg);
  max-width: 100%;
  background-size: cover;
  height: 350px;
  padding-top:75px; ;
}

.description
{
  padding: 2px;
  overflow: auto;
  max-width:380px;
  max-height:180px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.8);

}
.description h2
{
  padding-top: 7px;
  padding-left: 5px;
  font-style: italic;
}
.description p
{
font-weight: 450;
font-size: 1em;
padding-left: 5px;
padding-right: 5px;
}

footer {
        text-align: center;
        border-bottom: solid;
        border-top: solid;
        border-color: #7d97ad;
        margin-top: 10px;
}

h2.project-title{
  font-size: 2em;
  text-align: center;
}

.flex-item
{
  display: inline-block;
  text-align: center;
  line-height: 12px;
}

.project__container h2
{
  font-size: 2em;
  font-weight: 400;
}

.content {
  margin-left: auto;
  margin-right: auto;
}
